cv.xsd

<xs:schema
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.w3schools.com"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="CURRICULUM">
    <xs:complexType mixed="true">
        <xs:sequence>
            <xs:element name="DATOS-PERSONALES">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element type="xs:string" name="APELLIDO"/>

                        <xs:element type="xs:string" name="NOMBRE"/>

                        <xs:element type="xs:string" name="NACIONALIDAD"/>

                        <xs:element name="NACIMIENTO">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute type="xs:date" name="fecha"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="DIRECCION">
                            <xs:complexType>
                                <xs:sequence>

                                    <xs:element type="xs:string" name="PAIS"/>
                                    <xs:element type="xs:string" name="PROVINCIA"/>
                                    <xs:element type="xs:string" name="CIUDAD"/>
                                    <xs:element type="xs:string" name="CALLE"/>
                                    <xs:element type="xs:byte" name="NUMERO"/>
                                    <xs:element type="xs:int" name="CODPOST"/>

                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="TELEFONOS">
                            <xs:complexType>
                                <xs:sequence>

                                    <xs:element name="TELEFONO" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:int">
                                                    <xs:attribute type="xs:string" name="tipo" use="required"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>

                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="CONTACTOS">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CUENTA" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="servicio" use="required"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="ENLACES">
                            <xs:complexType>
                                <xs:sequence>

                                    <xs:element name="ENLACE" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="url" use="required"/>
                                                    <xs:attribute type="xs:string" name="tipo" use="required"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="HISTORIAL-LABORAL">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element name="EXPERIENCIA" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>

                                    <xs:element name="EMPRESA">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:date" name="fecha-inicio" use="required"/>
                                                    <xs:attribute type="xs:date" name="fecha-final" use="required"/>
                                                    <xs:attribute type="xs:anyURI" name="url" use="required"/>
                                                    <xs:attribute type="xs:string" name="cargo" use="required"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>

                                    <xs:element name="LABORES">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element type="xs:string" name="TAREA" maxOccurs="unbounded" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="FORMACION">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ETAPA" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>

                                    <xs:element name="CENTRO">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:date" name="fecha-final" use="required"/>
                                                    <xs:attribute type="xs:date" name="fecha-inicio" use="required"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>

                                    <xs:element type="xs:string" name="EDUCACION"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="DIPLOMAS">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="DIPLOMA" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="organizacion" use="optional"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="APTITUDES">
                            <xs:complexType>
                                <xs:sequence>

                                    <xs:element name="APTITUD" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:byte" name="puntuacion" use="optional"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="IDIOMAS">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="IDIOMA" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="nivel" use="optional"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="LOGROS">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element name="LOGRO" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute type="xs:date" name="fecha" use="required"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element type="xs:string" name="INFORMACION-ADICIONAL"/>

            <xs:element type="xs:string" name="RESUMEN"/>

        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
